body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px;
    background-color: #A9A9A9;
}
header{
    border-style: outset;
    border-color: #FFFFFF;
    background-color: #000000;
    margin-bottom: 25px;
}
header nav ul{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center;
}
header nav ul li{
    display: inline-block;
    padding: 0px 15px;
}
header nav{
    margin: auto;
    width: fit-content;
    display: block;
    width: 75%;
}
nav a{
    font-size: 17px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;  
}
.home-container{
    margin-top: 20px;
    border: solid;
    border-width: 2px;
    padding: 50px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #E8E8E8;
    border-radius: 20px;
}

.home-container img{
    width: 400px;
    background-size: cover;
    background-position: center;
}

.home-container .text{
    text-align: center;
    padding: 55px;
    margin-top: 150px;
}



footer{
    border-style: outset;
    border-color: #FFFFFF;
    background-color: #000000;
    margin-top: 67px;
}
footer .footer-text{
    font-size: 15px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
}
@media only screen and (max-width: 600px) {
    header{
        margin-bottom: 35px;
    }
    header nav ul{
        list-style: none;
        padding: 0px;
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        justify-content: space-evenly
    }
    header nav ul li{
        text-align: center;
        padding: 8px;
    }
    nav a{
        font-size: 20px;
    }
    
    .home-container{
        width: 60%;
        
    }
    .home-container img{
        width: 250px;
    }
    .home-container .text{
        margin: auto;
        font-size: 9px;
    }
    footer{
        margin-bottom: 8px;
    }
    

    
}

    


